% rebase("osnova.html")
<div class="bg-warning">

<div class="container" style="background-color: white;">
    <br>
    <div class="row gy-3">
% for film in filmi:
        <div class="col-lg-3">
            <div class="container">
                <div class="card text-center">
                    <img class="card-img-bottom rounded img-fluid" src="{{ film.url_slika }}">
                    <div class="card-body">
                        <a class="card-title text-center" href="/filmi/podrobno/{{ film.id }}" style="text-decoration: none;">{{ film.naslov }}</a>
                        <p style="font-style: italic;">{{ film.leto_izida }}</p>
                    </div>
                </div>
            </div>
        </div>
% end
    </div>
</div>
</div>
