% rebase("osnova.html", uporabnisko_ime=uporabnisko_ime)
<br>

<div class="container">
    <div class="row justify-content-md-center text-center">
        <div class="col-8">
            <h1>Choose 3 TV shows that you like</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="/generator_serija" method="POST">
                <div class="row justify-content-md-center text-center">
                    <div class="col-6">
                    <input class="form-control shadow-none" list="serije" id="izberi_serija1" name="izberi_serija1" placeholder="Search">
                    <datalist id="serije">
                        % for serija in serije:
                        <option value="{{ serija.naslov }}">
                        % end
                    </datalist>
                    </div>
                </div>
                <br>
                <div class="row justify-content-md-center text-center">
                    <div class="col-6">
                    <input class="form-control shadow-none" list="serije" id="izberi_serija2" name="izberi_serija2" placeholder="Search">
                    <datalist id="serije">
                        % for serija in serije:
                        <option value="{{ serija.naslov }}">
                        % end
                    </datalist>
                    </div>
                </div>
                <br>
                <div class="row justify-content-md-center text-center">
                    <div class="col-6">
                    <input class="form-control shadow-none" list="serije" id="izberi_serija3" name="izberi_serija3" placeholder="Search">
                    <datalist id="serije">
                        % for serija in serije:
                        <option value="{{ serija.naslov }}">
                        % end
                    </datalist>
                    </div>
                </div>
                <br>
                <div class="row justify-content-md-center text-center">
                    <div class="col-1">
                        <button class="btn btn-warning" id="dodaj_serija" type="submit">Recommend</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>

    
    <div class="row gy-3">
        % for predlog in predlogi:
                <div class="col-lg-3">
                    <div class="container">
                        <div class="card text-center">
                            <img class="card-img-bottom rounded img-fluid" src="{{ predlog.url_slika }}">
                            <div class="card-body">
                                <a class="card-title text-center" href="/serije/podrobno/{{ predlog.id }}" style="text-decoration: none;">{{ predlog.naslov }}</a>
                            </div>
                        </div>
                    </div>
                </div>
        % end
    </div>
</div>