% rebase("osnova.html", uporabnisko_ime = uporabnisko_ime)
<br>

<div class="container">
    <div class="row justify-content-md-center text-center">
        <div class="col-8">
            <h1>Choose 3 movies that you like</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="/generator_film" method="POST">
                <div class="row justify-content-md-center text-center">
                    <div class="col-6">
                    <input class="form-control shadow-none" list="filmi" id="izberi_film1" name="izberi_film1" placeholder="Search">
                    <datalist id="filmi">
                        % for film in filmi:
                        <option value="{{ film.naslov }}">
                        % end
                    </datalist>
                    </div>
                </div>
                <br>
                <div class="row justify-content-md-center text-center">
                    <div class="col-6">
                    <input class="form-control shadow-none" list="filmi" id="izberi_film2" name="izberi_film2" placeholder="Search">
                    <datalist id="filmi">
                        % for film in filmi:
                        <option value="{{ film.naslov }}">
                        % end
                    </datalist>
                    </div>
                </div>
                <br>
                <div class="row justify-content-md-center text-center">
                    <div class="col-6">
                    <input class="form-control shadow-none" list="filmi" id="izberi_film3" name="izberi_film3" placeholder="Search">
                    <datalist id="filmi">
                        % for film in filmi:
                        <option value="{{ film.naslov }}">
                        % end
                    </datalist>
                    </div>
                </div>
                <br>
                <div class="row justify-content-md-center text-center">
                    <div class="col-1">
                        <button class="btn btn-warning" id="dodaj_film" type="submit">Recommend</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row gy-3">
        % for predlog in predlogi:
                <div class="col-lg-3">
                    <div class="container">
                        <div class="card text-center">
                            <img class="card-img-bottom rounded img-fluid" src="{{ predlog.url_slika }}">
                            <div class="card-body">
                                <a class="card-title text-center" href="/filmi/podrobno/{{ predlog.id }}" style="text-decoration: none;">{{ predlog.naslov }}</a>
                            </div>
                        </div>
                    </div>
                </div>
        % end
    </div>
</div>

