% rebase("osnova.html", uporabnisko_ime = uporabnisko_ime)
<div class="bg-warning">
    <div id="movie_quotes" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
        <button type="button" data-bs-target="#movie_quotes" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Quote 1"></button>
        <button type="button" data-bs-target="#movie_quotes" data-bs-slide-to="1" aria-label="Quote 2"></button>
        <button type="button" data-bs-target="#movie_quotes" data-bs-slide-to="2" aria-label="Quote 3"></button>
        <button type="button" data-bs-target="#movie_quotes" data-bs-slide-to="3" aria-label="Quote 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="container">
                <div class="carousel-item active bg-warning" style="height: 93vh">
                    <div class="carousel-caption text-start" style="top: 30%;">
                        <h1 style="position: relative;">“My mama always said life was like a box of chocolates. You never know what you're gonna get.”</h1>
                        <p>-Forrest Gump, 1994</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="carousel-item bg-warning" style="height: 93vh;">
                    <div class="carousel-caption text-end" style="top: 30%;">
                        <h1>“Keep your friends close, but your enemies closer.”</h1>
                        <p>-The Godfather Part II, 1974</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="carousel-item bg-warning" style="height: 93vh;">
                    <div class="carousel-caption text-start" style="top: 30%;">
                        <h1>“You either get busy livin' or get busy dyin'.”</h1>
                        <p>―Shawshank Redemption, 1994</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="carousel-item bg-warning" style="height: 93vh;">
                    <div class="carousel-caption text-center" style="top: 30%;">
                        <h1>“Just keep swimming.”</h1>
                        <p>-Finding Nemo, 2003</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
