% rebase("osnova.html")


    <div class="container">
        <br>
        <div class="row">
            <div class="col-1">
                % if podatki_oseba.url_slika is None:
                <td><img style="width: 100px; height: 100px; border-radius: 50%; vertical-align: middle;" src = "/static/default_avatar.png"></td>
                % else:
                <td><img style="width: 100px; height: 100px; border-radius: 50%; vertical-align: middle;" src = "{{ podatki_oseba.url_slika }}"></td>
                % end
            </div>
            <div class="col">
                <h1>{{ podatki_oseba.ime_priimek }}</h1>
            </div>
        </div>
        <br>
        <div class="row gy-3">
    % for vsebina in vsebine_osebe:
            <div class="col-lg-3">
                <div class="container">
                    <div class="card text-center">
                        <img class="card-img-bottom rounded img-fluid" src="{{ vsebina.url_slika }}">
                        <div class="card-body">
                            <a class="card-title text-center" href="/filmi/podrobno/{{ vsebina.id }}" style="text-decoration: none;">{{ vsebina.naslov }}</a>
                        </div>
                    </div>
                </div>
            </div>
    % end
        </div>
    </div>

