% rebase("osnova.html")
<ul class="nav justify-content-center bg-warning">
  <!--
  <li class="nav-item">
    <button class="btn" data-bs-toggle="collapse" data-bs-target="#komentarji_imdb" aria-expanded="false" aria-controls="komentarji_imdb">IMDB Comments</button>
  </li>
  -->
  <li class="nav-item">
    <button class="btn" data-bs-toggle="collapse" data-bs-target="#directors" aria-expanded="false"
      aria-controls="directors">Directors</button>
  </li>
  <li class="nav-item">
    <button class="btn" data-bs-toggle="collapse" data-bs-target="#actors" aria-expanded="false"
      aria-controls="actors">Actors</button>
  </li>
  <li class="nav-item">
    <button class="btn" data-bs-toggle="collapse" data-bs-target="#uporabnik_komentar" aria-expanded="false"
      aria-controls="uporabnik_komentar">Comments</button>
  </li>
</ul>
<br>
<div class="container">
  <div class="row g-3">
    <div class="col-4">
      <div class="container">
        <img src="{{ film.url_slika }}">
      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col">
          <h1>{{ film.naslov }}</h1>
          <p style="font-style: italic;">({{ film.leto_izida }})</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p style="font-size: large;">{{ film.opis }}</p>
        </div>
      </div>
      <div class="row">
        % for kinoteka in kinoteke:
        <div class="col-1">
          <a href="{{ kinoteka.url_kinoteka }}">
            <img style="width: 50px; height: 50px; border-radius: 50%; vertical-align: middle;"
              src="/static/{{ kinoteka.naziv_kinoteka }}.jpeg">
          </a>
        </div>
        % end
      </div>
    </div>
  </div>
</div>
<br>

<br>
<div class="container">
  <!--
  <div id="komentarji_imdb" class="carousel slide collapse" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#komentarji_imdb" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#komentarji_imdb" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#komentarji_imdb" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner">
      
      <div class="carousel-item active">
        <div class="container">
          <div class="card" style="width: 50rem;">
            <div class="card-body">
              <h2 class="card-title">
                {{ komentarji_filma[0].naslov_komentarja }}
              </h2>
              <p class="card-text">
                {{ komentarji_filma[0].komentar }}
              </p>
            </div>
          </div>
        </div>
      </div>
      

      % for komentar_filma in komentarji_filma[1:]:
      <div class="carousel-item">
        <div class="container">
          <div class="card" style="width: 50rem;">
            <div class="card-body">
              <h2 class="card-title">
                {{ komentar_filma.naslov_komentarja }}
              </h2>
              <p class="card-text">
                {{ komentar_filma.komentar }}
              </p>
            </div>
          </div>
        </div>
      </div>
      % end
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#komentarji_imdb" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#komentarji_imdb" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
  -->
  <div class="container collapse" id="uporabnik_komentar">
    % if not uporabnisko_ime:
    <div class="row justify-content-center">
      <p>Please login to comment.</p>
    </div>
    % end
    % if uporabnisko_ime:
    <form method="POST" style="width: 80rem;">
      <div class="form-floating">
        <textarea id="comment" class="form-control" placeholder="Comment" name="comment" rows="4"
          style="height:100%;"></textarea>
        <label for="comment">Comment</label>
      </div>
      <br>
      <label for="ocena" class="form-label">Mark</label>
      <div class="row">
        <div class="col-10">
          <input type="range" class="form-range" min="0" max="10" step="1" id="ocena" name="ocena"
            oninput="vrednost.value=ocena.value">
        </div>
        <div class="col-2">
          <output id="vrednost" for="ocena">5</output>
        </div>
      </div>
      <button type="submit" class="btn btn-warning">Comment</button>
    </form>
    % end
    <br>
    % for vnesen_komentar in vneseni_komentarji:
    <br>
    <div class="row justify-content-center gy-3">
      <div class="card" style="width: 80rem;">
        <div class="card-body">
          <h5 class="card-title">{{ vnesen_komentar[1] }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ vnesen_komentar[0].ocena }}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffc107" class="bi bi-star"
              viewBox="0 0 16 16">
              <path
                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
            </svg>
          </h6>
          <p class="card-text">{{ vnesen_komentar[0].besedilo_komentar }}</p>
        </div>
      </div>
    </div>
    % end
  </div>
  <br>
</div>

<div class="container">
  <table class="table table-striped collapse" id="actors">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Role</th>
      </tr>
    <tbody>
      % for igralec in igralci:
      <tr>
        % if igralec[0].url_slika is None:
        <td><img style="width: 50px; height: 50px; border-radius: 50%; vertical-align: middle;"
            src="/static/default_avatar.png"></td>
        % else:
        <td><img style="width: 50px; height: 50px; border-radius: 50%; vertical-align: middle;"
            src="{{ igralec[0].url_slika }}"></td>
        % end

        <td><a href="/oseba/{{ igralec[0].id }}"
            style="text-decoration: none; color: black;">{{igralec[0].ime_priimek}}</a></td>

        <td>{{ igralec[1] }}</td>
      </tr>
      % end
    </tbody>
    </thead>
  </table>
</div>

<div class="container">
  <table class="table table-striped collapse" id="directors">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
      </tr>
    <tbody>
      % for reziser in reziserji:
      <tr>
        % if reziser.url_slika is None:
        <td><img style="width: 50px; height: 50px; border-radius: 50%; vertical-align: middle;"
            src="/static/default_avatar.png"></td>
        % else:
        <td><img style="width: 50px; height: 50px; border-radius: 50%; vertical-align: middle;"
            src="{{ reziser.url_slika }}"></td>
        % end
        <td><a href="/oseba/{{ reziser.id }}" style="text-decoration: none; color: black;">{{ reziser.ime_priimek }}</a>
        </td>
      </tr>
      % end
    </tbody>
    </thead>
  </table>
</div>