% rebase("osnova.html")
<div class="bg-warning">

<div class="container" style="background-color: white;">
    <br>
    <div class="row gy-3">
% for serija in serije:
        <div class="col-lg-3">
            <div class="container">
                <div class="card text-center">
                    <img class="card-img-bottom rounded img-fluid" src="{{ serija.url_slika }}">
                    <div class="card-body">
                        <a class="card-title text-center" href="/serije/{{ serija.id }}" style="font-style: italic; text-decoration: none;">{{ serija.naslov }}</a>
                    </div>
                </div>
            </div>
        </div>
% end
    </div>
</div>
</div>




